{% extends "base.html" %}
{% block content %}
<h2>Help Me!</h2>
<h3>Summary</h3>
<div class='help_summary'>
    <p>
        Each section provides access to a fun function! 
        Fill in the requested info and then press 'Save'. 
        Results will be displayed in the table below the 'Save' button.
    </p>
</div>
{% include "triangle_area_summary.html" %} 
{% include "maximum_edge_summary.html" %} 
{% include "seconds_conversion_summary.html" %} 
{% include "repeating_function_summary.html" %} 

    






    
{% endblock %}